app .page-root {
    width: 100vw;
    height: 100vh;
    overflow: auto;
    display: block;
    padding-left: 55px;
}


.table.ter-table {
    font-size: 12px;
}

.table.ter-table thead th {
    background: #2C1D44;
    color: #ffffff;
}
